# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Fresh build directory
_fresh/
# npm dependencies
node_modules/
.github/workflows/deploy CORV/deno.yml
.github/workflows/deploy CORV/deploy.yml
